* text=auto eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
*.jar binary
